<!-- BLOQUE DE DIRECTIVAS DE ATRIBUTO -->

<p [ngStyle]="{ color: 'tomato', fontWeight: 'bolder' }">Lista de elementos</p>
<p ngClass="underlined">
  Vamos a iterar sobre una lista y mostrar varios elementos
</p>
<p [ngClass]="['underlined', 'small']">Aún no tienes elementos en la lista</p>
<p [ngClass]="{ underlined: false, small: true }">
  Te recomendamos crear un elemento
</p>

<!-- BLOQUE DE DIRECTIVAS ESTRUCTURALES -->

<p *ngIf="!cargando; else Template">
  <span>Todo listo</span>
</p>

<button
  type="button"
  class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  (click)="cambiarCargando()"
>
  {{ cargando ? 'Terminar carga' : 'Iniciar Carga' }}
</button>

<ng-template #Template>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>

<div *ngFor="let producto of listaElementos; let i = index; let even = even">
  <div
    [ngStyle]="
      even ? { backgroundColor: 'white' } : { backgroundColor: 'cyan' }
    "
    class="max-w-sm p-6 border border-gray-200 rounded-lg shadow"
  >
    <h5
      class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >
      {{ i + 1 }} {{ producto.nombre }} - {{ producto.precio }}€
    </h5>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
      {{ producto.descripcion }}
    </p>
  </div>
</div>

<div class="max-w-sm p-6 border border-gray-200 rounded-lg shadow">
  <div [ngSwitch]="opcion">
    <p [id]="1" *ngSwitchCase="1">Opcion 1</p>
    <p [id]="2" *ngSwitchCase="2">Opcion 2</p>
    <p [id]="3" *ngSwitchCase="3">Opcion 3</p>
    <p [id]="4" *ngSwitchCase="4">Opcion 4</p>
    <p [id]="4" *ngSwitchDefault>Ninguna de las opciones es válidas</p>
  </div>

  <div>
    <div class="block">
      <label for="opcion">Escoger opcion 1</label>
      <input type="radio" name="opcion" (click)="escogerOpcion(1)" />
    </div>
    <div class="block">
      <label for="opcion">Escoger opcion 2</label>
      <input type="radio" name="opcion" (click)="escogerOpcion(2)" />
    </div>
    <div class="block">
      <label for="opcion">Escoger opcion 3</label>
      <input type="radio" name="opcion" (click)="escogerOpcion(3)" />
    </div>
    <div class="block">
      <label for="opcion">Escoger opcion 4</label>
      <input type="radio" name="opcion" (click)="escogerOpcion(4)" />
    </div>
  </div>
</div>

<h1>Productos con precio mayor de 10 euros</h1>
<div *ngFor="let producto of listaElementos; let i = index; let even = even">
  <div
    *ngIf="producto.precio > 10"
    [ngStyle]="
      even ? { backgroundColor: 'white' } : { backgroundColor: 'cyan' }
    "
    class="max-w-sm p-6 border border-gray-200 rounded-lg shadow"
  >
    <h5
      class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >
      {{ i + 1 }} {{ producto.nombre }} - {{ producto.precio }}€
    </h5>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
      {{ producto.descripcion }}
    </p>
  </div>
</div>
